@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Catamaran');

@font-face {
  font-family: 'emlakkonut';
  src:  url('../fonts/emlakkonut.eot?rhs6u5');
  src:  url('../fonts/emlakkonut.eot?rhs6u5#iefix') format('embedded-opentype'),
    url('../fonts/emlakkonut.ttf?rhs6u5') format('truetype'),
    url('../fonts/emlakkonut.woff?rhs6u5') format('woff'),
    url('../fonts/emlakkonut.svg?rhs6u5#emlakkonut') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'emlakkonut' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}
.icon-lock:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e902";
}
.icon-plus:before {
  content: "\e903";
  color: #fff;
}
.icon-Accept:before {
  content: "\e904";
  color: #00a65e;
}
.icon-Asset-2:before {
  content: "\e905";
  color: #fff;
}
.icon-Cancel:before {
  content: "\e906";
  color: #d20000;
}
.icon-Cancell:before {
  content: "\e907";
  color: #005aab;
}
.icon-Clean:before {
  content: "\e908";
  color: #005aab;
}
.icon-Closex:before {
  content: "\e909";
  color: #fff;
}
.icon-delete:before {
  content: "\e90a";
  color: #fff;
}
.icon-designer:before {
  content: "\e90b";
  color: #fff;
}
.icon-General:before {
  content: "\e90c";
  color: #00a65e;
}
.icon-Header:before {
  content: "\e90d";
}
.icon-Houses:before {
  content: "\e90e";
  color: #00a65e;
}
.icon-Image_photo:before {
  content: "\e90f";
}
.icon-Kat_Plani:before {
  content: "\e910";
  color: #00a65e;
}
.icon-kroki:before {
  content: "\e911";
  color: #fff;
}
.icon-Link:before {
  content: "\e912";
}
.icon-Map:before {
  content: "\e913";
  color: #00a65e;
}
.icon-Paragraph:before {
  content: "\e914";
}
.icon-Plots:before {
  content: "\e915";
  color: #00a65e;
}
.icon-Pointer:before {
  content: "\e916";
  color: #f2f2f2;
}
.icon-Polygon-1-kopia:before {
  content: "\e917";
}
.icon-proje_gorseli_ekle:before {
  content: "\e918";
  color: #fff;
}
.icon-Projects_Icon:before {
  content: "\e919";
  color: #00a65e;
}
.icon-Quantity:before {
  content: "\e91a";
  color: #005aab;
}
.icon-Questionmark-copy:before {
  content: "\e91b";
  color: #005aab;
}
.icon-redoAsset-3:before {
  content: "\e91c";
  color: #fff;
}
.icon-Save:before {
  content: "\e91d";
  color: #005aab;
}
.icon-Search:before {
  content: "\e91e";
  color: #fff;
}
.icon-Select_Icon:before {
  content: "\e91f";
  color: #f6f7fa;
}
.icon-settings:before {
  content: "\e920";
  color: #fff;
}
.icon-tools_cricle:before {
  content: "\e921";
  color: #000;
}
.icon-tools_map:before {
  content: "\e922";
  color: #005aab;
}
.icon-tools_rectangels:before {
  content: "\e923";
  color: #005aab;
}
.icon-tools_shape:before {
  content: "\e924";
  color: #005aab;
}
.icon-undoAsset-2:before {
  content: "\e925";
  color: #fff;
}
.icon-update:before {
  content: "\e926";
  color: #fff;
}
.icon-Video:before {
  content: "\e927";
}
.icon-Youtube:before {
  content: "\e928";
}
